<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理平台</title>
</head>
<body>
  为获得最佳使用体验，请使用谷歌浏览器(<a href="http://rj.baidu.com/soft/detail/14744.html?ald">下载地址</a>)，火狐浏览器(<a href="http://www.firefox.com.cn/">下载地址</a>)，360浏览器(<a href="http://se.360.cn/">下载地址</a>), 搜狗浏览器(<a href="http://ie.sogou.com/">下载地址</a>)
</body>
</html>