<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=0.33,minimum-scale=0.33,maximum-scale=1.0" />
  <title>管理平台</title>
  <script src="http://webapi.amap.com/maps?v=1.3&key=f228197a1c8728b5edf656b320709397&plugin=AMap.DistrictSearch"></script>
<link href="/dist/main.css?7b26c1c7de125d5b9dde" rel="stylesheet"></head>
<body>
  <div id="app"></div>
<script type="text/javascript" src="/dist/bundle.js?7b26c1c7de125d5b9dde"></script></body>
</html>